@import "../components/button.css";

.application{
  width: 100%;
  height: 100vh;

  display: flex;

  background-color: #fff;

  overflow: hidden;
}

.display{
  flex: 1;
  display: flex;
}

.navigation{
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  border-right: 1px solid #eee;
}

.navigation > div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.navigation button{
  width: 100%;

  padding: 10px 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  background-color: transparent;

  border: 1px solid transparent;
  border-radius: 20px;

  font-size: 1rem;

  cursor: pointer;
}

/* Onglet style */
/* Onglet style display */
.onglet__display{
  flex: 1;
  display: flex;
}

.onglet__case{
  flex: 1;

  display: none;

  /*border: 3px solid #0096FF;*/

  overflow: auto;
}

.onglet__case.active{
  display: block;
}

/* Onglet style commande */
.onglet__button.active{
  border: 1px solid #eee;
}


/* Onglet cases */
.case-0__header{
  padding: 10px 20px;

  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(45deg, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(2px);

  border-bottom: 1px solid #eee;
}

.case-0__section{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section-list__article{
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  border: 1px solid transparent;
  border-radius: 1rem;
}

.section-list__article-overlay{
  display: none;
}

.section-list__article-content{
  width: 100%;

  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.section-list__article-infos{
  width: 100%;
}

.section-list__article-logo{
  margin: 0 0 5px 0;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 1rem;
  color: #000;
}

.section-list__article-logo > img{
  aspect-ratio: 1/1;
  height: 2rem;

  padding: 5px;

  background-color: #fff;

  border: 1px solid #eee;
  border-radius: 50%;
}

.section-list__article-infos > h2{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  font-size: 1.1rem;

  overflow: hidden;
}

.section-list__article-infos > p{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  font-size: 1rem;
  color: #6c757d;

  overflow: hidden;
}

.section-list__article-date{
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 1rem;
  color: #6c757d;
}

.section-list__article-date > p{
  white-space: nowrap;
}


.case-0__section.toggle{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.case-0__section.toggle .section-list__article{
  flex-direction: column;
  justify-content: unset;
  align-items: unset;

  border: 1px solid #eee;
}

.case-0__section.toggle .section-list__article-overlay{
  aspect-ratio: 16/9;
  width: 100%;

  display: block;

  background-color: #eeeeee;
  border-radius: 0.6rem;
}




.feed-list{
  flex: 1;
  overflow: auto;
}

.header{
  width: 100%;

  padding: 10px 20px;

  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.input-container{
  display: flex;
  gap: 15px;
}

.rss-url{
  width: 100%;
  padding: 10px 20px;

  background-color: #eee;

  border: 1px solid #eee;
  border-radius: 20px;

  font-size: 1rem;
}

.load-feed{
  aspect-ratio: 1/1;

  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000;

  border: none;
  border-radius: 50%;

  color: #fff;

  cursor: pointer;
}


















.reader{
  width: 100%;
  height: 100%;

  padding: 60px 40px 10px 40px;

  position: fixed;

  display: none;
  justify-content: center;
  align-items: center;

  background: linear-gradient(45deg, rgba(140, 140, 140, 0.45), rgba(140, 140, 140, 0.05));
  backdrop-filter: blur(2px);
}

.reader__display{
  width: 100%;
  max-width: 1280px;
  height: 100%;

  background-color: #ffffff;
  border-radius: 0.5rem;
}

.reader__display > header{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}